        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono&display=swap');

        * {
            /* background-color: black; */
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
		body {
			background-color: #000;
		}

        /* video background */
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }

        /* center container (like a box that holds everything) */
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* frosted glass effect */
            background: rgba(255, 255, 255, 0.010);
            backdrop-filter: blur(20px);
            /* border */
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            /* padding */
            padding: 20px;
            /* width and height */
            width: 500px;
            /* center text */
            text-align: center;
        }

        /* profile picture */
        .pfp {
			/* object-fit: cover;
            /* border 
            border-radius: 50%;
            /* padding 
            padding: 10px;
            /* width and height 
            width: 120px;
            height: 120px;
            /* position them to the center 
            position: relative;
            left: 50%;
            transform: translateX(-50%); */
			position: relative;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			margin-top: -75px;
			left: 50%;
			z-index: 1;
			object-fit:cover;
			transform: translateX(-50%);
        }

        /* username */
        h1 {
            /* font */
            font-size: 30px;
            font-weight: 300;
            /* margin */
            margin: 0;
            /* padding */
            padding: 0;

        }

        /* bio */
        p {
            /* font */
            font-size: 15px;
            font-weight: 300;
            /* margin */
            margin: 0;
            /* padding */
            padding: 0;
            /* muted color */
            color: rgba(255, 255, 255, 0.5);
        }

        /* badges */
        .badges {
			
			/* margin */
            margin: 20px 0;
            /* top border so it looks like a box */
            border-top: 1px solid rgba(255, 255, 255, 0.25);
			
			/* center items and text in middle */
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
        }
        .badges .badge {
            /* padding */
            padding: 10px;
            height: 37px;
            width: 37px;
            /* position them to the center */
            position: relative;
            top: 10px;
            /* make them more compact */
            margin: 0 -5px;

			transition: 0.5s;
        }
		.badges .badge:hover {
			/* lil glow effect */
			filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.75));
			/* make them a bit bigger */
			height: 42px;
			width: 42px;
		}
		.badges .badge .tooltip {
			position: absolute;
			bottom: 100%; /* position it above the image */
			left: 50%; /* center it horizontally */
			transform: translateX(-50%); /* ensure it's centered */
			background-color: #333;
			color: #fff;
			padding: 5px;
			border-radius: 5px;
			opacity: 0;
			transition: opacity 0.3s;
			pointer-events: none; /* ignore mouse events so it dosnt interfere with the image hover */

			/* text size */
			font-size: 12px;
			white-space: nowrap; /* size to content */
		}
		.badges .badge:hover .tooltip {
			opacity: 1;
		}

        /* links */
        .links {
			
            /* margin */
            margin: 20px 0;
            /* top border so it looks like a box */
            border-top: 1px solid rgba(255, 255, 255, 0.25);
			
			display: flex;
			justify-content: center;
        }
		.links a {
			padding: 10px;
			position: relative;
			top: 10px;
			margin: 0 -5px;
			font-size: 20px;
			text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
			color: white;
			transition: 0.5s;
			text-decoration: none;

			display: flex;
			align-items: center;
			justify-content: center;
		}
        .links a:hover {
            /* make them a bit bigger */
            font-size: 25px;
            /* lil glow effect */
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
        }
		.links a .icon-svg {
			width: 20px;
			height: 20px;
			transition: 0.5s;
			vertical-align: middle;

			filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
			color: white;
			transition: 0.5s;
			text-decoration: none;
		}
		.links a:hover .icon-svg {
			width: 25px;
			height: 25px;
			filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.75));
		}

        /* discord rpc */
        .discord-rpc-container {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
            /* frosted glass effect */
            background: rgba(255, 255, 255, 0.010);
            backdrop-filter: blur(20px);
            /* border */
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.25);
			/* flex */
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			padding-left: 20px;
			justify-content: center;
			align-items: center;
        }
		.discord-rpc-container-img {
			border-radius: 50%;
			width: 65px;
			height: 65px;
			object-fit: cover;
			margin-right: 20px;
		}
		.discord-rpc-username {
			font-size: 18px;
			font-weight: 600;
			
		}
		.discord_badge {
			width: 20px;
			height: 20px;
			background-size: cover;
			background-position: center;
			position: relative;
			margin-right: 5px;
			margin-left: 10px;
			margin-bottom: 5px;
			margin-top: 4px;
		}

        @media (max-width: 600px) {
            .container {
                width: 60%;
            }
        }

        @media (max-width: 500px) {
            .container {
                width: 70%;
            }
        }

        @media (max-width: 400px) {
            .container {
                width: 40%;
            }
        }

        @media (max-width: 300px) {
            .container {
                width: 50%;
            }
        }

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.9);
			z-index: 1;
			/* center items and text in middle */
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.overlay h1 {
			/* font */
			font-size: 30px;
			font-weight: 300;
			/* margin */
			margin: 0;
			/* padding */
			padding: 0;
			/* color */
			color: white;
		}
		.overlay p {
			/* font */
			font-size: 15px;
			font-weight: 300;
			/* margin */
			margin: 0;
			/* padding */
			padding: 0;
			/* muted color */
			color: rgba(255, 255, 255, 0.5);
		}

		/* mimicking tailwind cause importing it messes up the css :trol: */
		.bg-blue-500 {
			background-color: rgb(59,130,246);
		}
		.bg-red-500 {
			background-color: rgb(239,68,68);
		}
		.bg-yellow-500 {
			background-color: rgb(245,158,11);
		}
		.bg-green-500 {
			background-color: rgb(16,185,129);
		}
		.relative {
			position: relative;
		}
		.absolute {
			position: absolute;
		}
		.flex {
			display: flex;
		}
		.flex-col {
			flex-direction: column;
		}
		.items-center {
			align-items: center;
		}
		.justify-center {
			justify-content: center;
		}
		.fixed {
			position: fixed;
		}
		.w-full {
			width: 100%;
		}
		.z-50 {
			z-index: 50;
		}
		.p-3 {
			padding: 0.75rem;
		}
		.text-white {
			color: #fff;
		}
		.text-sm {
			font-size: 0.875rem;
		}
		.font-bold {
			font-weight: 700;
		}
		.px-4 {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.py-3 {
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
		}
		.rounded-md {
			border-radius: 0.375rem;
		}
		.opacity-0 {
			opacity: 0;
		}
		.opacity-1 {
			opacity: 1;
		}
		.transform {
			--tw-translate-x: 0;
			--tw-translate-y: 0;
			--tw-rotate: 0;
			--tw-skew-x: 0;
			--tw-skew-y: 0;
			--tw-scale-x: 1;
			--tw-scale-y: 1;
			transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
		}
		.transition-all {
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 150ms;
		}
		.flash-overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: black; /* Changed to black for the fade effect */
			z-index: 9999;
			opacity: 0; /* Start invisible */
			display: none; /* Start hidden */
			transition: opacity 0.5s; /* Smooth transition */
		  }
		  .flash-text {
			position: fixed;
			top: 20%; /* Position the text lower */
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 48px; /* Increase font size for emphasis */
			font-weight: bold;
			text-align: center;
			color: rgb(255, 0, 0); /* Red color for "Your Doom" */
			display: none; /* Start hidden */
		  }
		  
	
		@keyframes flashOverlay {
			0%, 49% {
				opacity: 0;
			}
			50%, 100% {
				opacity: 1;
			}
		}
	
		@keyframes flashText {
			0%, 49% {
				opacity: 0;
			}
			50%, 100% {
				opacity: 1;
			}
	
		}
		.duration-500 {
			transition-duration: 500ms;
		}
		.mb-1 {
			margin-bottom: 0.25rem;
		}
		.w-6 {
			width: 1.5rem;
		}
		.h-6 {
			height: 1.5rem;
		}
		.w-5 {
			width: 1.25rem;
		}
		.h-5 {
			height: 1.25rem;
		}
		.w-4 {
			width: 1rem;
		}
		.h-4 {
			height: 1rem;
		}
		.mr-2 {
			margin-right: 0.5rem;
		}

		.username-container {
			position: relative;
			display: inline-block;
			
		}
		.tooltip_username {
			position: absolute;
			/* position it below the username */
			top: 100%;
			left: 50%; /* center it horizontally */
			transform: translateX(-50%); /* ensure it's centered */
			background-color: #333;
			color: #fff;
			padding: 5px;
			border-radius: 5px;
			opacity: 0;
			transition: opacity 0.3s;
			pointer-events: none; /* ignore mouse events so it doesn't interfere with the username hover */

			/* text size */
			font-size: 12px;
			white-space: nowrap; /* size to content */

			box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
		}
		.username-container:hover .tooltip_username {
			opacity: 1;
		}

		.background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;
			background-size: cover;
			background-position: center;
		}
		#bgv {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;
			
			      #video {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: url(img/dot.png);
    background-size: 3px;
    opacity: 1;
	object-fit: cover; 
       
		}
	}